.kampus {
    padding-left: 250px;
    height: 110px;
    padding-right: 50px;
}

.news {
    background-color: #ECECEC;
    padding: 10px 16px 10px 16px;
    border-radius: 30px;
    color: black;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    margin-left: 48px;
}

.catalog {
    background-color: #ECECEC;
    padding: 10px 16px 10px 16px;
    border-radius: 30px;
    color: black;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    margin-left: 22px;
}

.events {
    background-color: #ECECEC;
    padding: 10px 16px 10px 16px;
    border-radius: 30px;
    color: black;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    margin-left: 22px;
}

.more {
    background-color: #ECECEC;
    padding: 10px 16px 10px 16px;
    border-radius: 30px;
    color: black;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    margin-left: 22px;
}

.registration {
    background-color: #ECECEC;
    padding: 10px 100px 10px 16px;
    border-radius: 30px;
    color: black;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    margin-left: 128px;
}

.enter {
    background-color: #8269EF;
    padding: 10px 16px 10px 16px;
    border-radius: 30px;
    color: white;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    margin-left: -80px;
}

.bv {
    display: flex; align-items: center;
}

.mainh1 {
    padding-top: 50px;
    padding-left: 250px;
    font-family: 'Inter', sans-serif;
    font-size: 74px;
    color: white;

}

.main { 
    margin-top: -70px;
    height: 800px;
    background-color: #F42E30;
    border-top-right-radius: 20px;
}

.urfuimg {
    padding: 11px 6px 20px 13px;
    margin-left: 242px;
    margin-top: -8px;
}

.chguimg {
    margin-left: 40px;
    padding-bottom: 18px;
}

.urgupsimg {
    margin-left: 1155px;
    margin-top: -800px;
    width: 400px;
    height: 253px;
    border-radius: 20px;
    padding-bottom: 35px;
}

.urfu {
    position: absolute;
    color: black;
    padding: 11px 8px 20px 13px;
    font-size: 23px;
    text-align: left;
    font-family: 'Inter', sans-serif;
    background-color: white;
    border-radius: 20px;
    background-position: center;
    margin-left: 255px;
    margin-top: 210px;
    font-weight: 600;
}

.chgu {
    position: absolute;
    color: black;
    padding: 12px 30px 48px 10px;
    font-size: 23px;
    text-align: left;
    font-family: 'Inter', sans-serif;
    background-color: white;
    border-radius: 20px;
    background-position: center;
    margin-left: 705px;
    margin-top: -70px;
    font-weight: 600;
}

.urgups {
    position: absolute;
    color: black;
    padding: 12px 31px 48px 10px;
    font-size: 23px;
    text-align: left;
    font-family: 'Inter', sans-serif;
    background-color: white;
    border-radius: 20px;
    background-position: center;
    margin-left: 1155px;
    margin-top: -70px;
    font-weight: 600;
}