.kampus {
    padding-left: 250px;
    height: 110px;
    padding-right: 50px;
}

.news {
    background-color: #ECECEC;
    padding: 10px 16px 10px 16px;
    border-radius: 30px;
    color: black;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    margin-left: 48px;
}

.catalog {
    background-color: #ECECEC;
    padding: 10px 16px 10px 16px;
    border-radius: 30px;
    color: black;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    margin-left: 22px;
}

.events {
    background-color: #ECECEC;
    padding: 10px 16px 10px 16px;
    border-radius: 30px;
    color: black;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    margin-left: 22px;
}

.more {
    background-color: #ECECEC;
    padding: 10px 16px 10px 16px;
    border-radius: 30px;
    color: black;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    margin-left: 22px;
}

.registration {
    background-color: #ECECEC;
    padding: 10px 100px 10px 16px;
    border-radius: 30px;
    color: black;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    margin-left: 250px;
}

.enter {
    background-color: #8269EF;
    padding: 10px 16px 10px 16px;
    border-radius: 30px;
    color: white;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    margin-left: -80px;
}

.header-nav {
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.mainh1 {
    padding-top: 50px;
    padding-left: 250px;
    font-family: 'Inter', sans-serif;
    font-size: 74px;
    color: white;

}

.main { 
    margin-top: -70px;
    background-color: #F42E30;
    border-top-right-radius: 20px;
}
