<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta http-equiv="Cache-Control" content="no-cache">
        <title>Каталог ВУЗов Урала</title>
        <link rel="stylesheet" href="{% static 'flairest_campus/css/nav.css' %}">
        <link rel="stylesheet" href="{% static 'flairest_campus/css/profile.css' %}">
        <link rel="stylesheet" href="{% static 'flairest_campus/css/index-style.css' %}">
        <link rel="stylesheet" href="{% static 'flairest_campus/css/directions.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500&family=Lexend+Giga:wght@100;200;300&family=Open+Sans:wght@500&family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
        <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
        <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
        <script src="{% static 'flairest_campus/scripts/filter.js' %}"></script>
        <script src="{% static 'flairest_campus/scripts/auth.js' %}"></script>
    </head>
    <!--класс для поиска институтов Instityt1-->
    <body>
        <img style = "position: absolute; z-index: -1" src = "{% static 'flairest_campus/image/nav.jpg' %}">
        <div class="header-nav">
            <!--ИСПРАВЛЕНО--><a href='/uni' class = "kampus"><img src="{% static 'flairest_campus/image/kampus.png' %}"></a>
            <div class="site-nav">
                <a href="https://studgorod.ru/#news" class="news">Новости</a>
                <!---Ошибка (из-за ссылки)--><a href="index.html" class="catalog">ВУЗы</a>
                <a href="https://studgorod.ru/#events" class="events">Мероприятия</a>
                <a href="https://studgorod.ru/" class="more">Ещё</a>
            </div>
            <button onclick="openLoginForm('register')" id="registerBtn" class="registration">Регистрация</button>
            <button onclick="openLoginForm('login')" id="loginBtn" class="enter">Войти</button>
            <div class="profile-buttons">
                <!---Ошибка (из-за ссылки)--><a href="profile.html" class="enter-profile" id="profileBtn" style="display: none;">Мой Профиль</a>
                <a href="#" onclick="logout()" class="login-out" id="logoutBtn" style="display: none;">Выйти</a>
            </div>
        </div>
        <main class="main">
            <!--форма регистрации-->
            <div class="overlay" id="overlay"></div>
            <div class="login-form" id="loginForm">
                <button class="close-button" onclick="closeLoginForm()">×</button>
                <div><img src="{% static 'flairest_campus/image/key.svg' %}" alt="Изображение ключа" class="key-image"></div>
                <div class="input-acc">Вход в аккаунт</div>
                <div class="reg-acc">Регистрация</div>
                <div class="button-container" onclick="toggleButton(event)">
                    <button class="input-word active" id="registerButton">Регистрация</button>
                    <button class="reg-word" id="loginButton">Войти</button>
                </div>
                <input type="text" id="loginFormLogin" class="forma-reg" placeholder="Email">
                <p><a href="https://studgorod.ru/pages/politika-konfidencialnosti-i-obrabotka-personalnyh-dannyh" class="agre-konf">Я согласен с политикой конфиденциальности</a></p>
                <div class="agree-button" onclick="toggleAgree()">
                    <div class="check-mark" id="checkMark">&#10004;</div>
                </div>
                <div class="login-button-container">
                    <div><button onclick="login()" class="input-button">Войти</button></div>
                </div>
                
                <div class="register-button-container" style="display: none;">
                    <div><button onclick="login()" class="input-button">Зарегистрироваться</button></div>
                </div>
            </div>
            <h1 class = "mainh1">Каталог ВУЗов Урала</h1>
            <div class="search-container">
                <span class="search-icon-inline">
                    <img id="searchIcon" src="{% static 'flairest_campus/image/social_media/lupa.svg' %}" alt="Поиск">
                </span>
                <input type="text" id="universitySearch" oninput="searchUniversities()" onkeydown="searchOnEnter()">
            </div>
            <img class="showFiltersButton" src="{% static 'flairest_campus/image/button-setting.svg' %}" alt="Показать фильтры" onclick="toggleFilters()">
            <div class="filter-container" style="display: none;">
                <div class="filter-wrapper">
                    <p>Показывать только:</p>
                    <select id="filterSelector" onchange="updateFilter()" oninput="searchUniversities()">
                        <option value="universities" selected>университеты</option>
                        <option value="institutes">институты</option>
                        <option value="directions">направления</option>
                    </select>
                </div>
                <div class="filter-wrapper">
                    <p>Город:</p>
                    <select id="citySelector" onchange="updateFilter()" oninput="searchUniversities()">
                        <option value="all">все</option>
                        <option value="Ekat">Екатеринбург</option>
                        <option value="Nizh">Нижний Тагил</option>
                        <option value="Kame">Каменск-Уральский</option>
                        <option value="Perv">Первоуральск</option>
                        <option value="Sero">Серов</option>
                        <option value="Novo">Новоуральск</option>
                        <option value="Verx">Верхняя Пышма</option>
                        <option value="Bere">Берёзовский</option>
                        <option value="Revd">Ревда</option>
                        <option value="Asbe">Асбест</option>
                        <option value="Kras">Краснотурьинск</option>
                    </select>
                </div>
            </div>
            <input type=button value="Добавить ВУЗ" onClick="location.href='/unicreate';">
            <input type=button value="Добавить направление" onClick="location.href='/speccreate';">
            <input type=button value="Добавить отзыв (DEVELOPMENT_ONLY)" onClick="location.href='/review_add_DEVELOPMENT';">
            <div class="univ-catalogue">
                {% for uni in universities %}
                <!--  href="{prc url b.name prc}" -->
                <a class="univ-link univer1 {{ uni.gorod }}" href="uni/{{ uni.id }}/">
                    <div class="univ-container" id="urfu">
                        <h2 class="univ-title namesun">
                            {{ uni.name }}
                        </h2>
                        <img class="univ-image" src="{{ uni.photo.url }}" width="480px" alt="Обложка {{ uni.name }}">
                    </div>
                </a>
                    <!-- <a href="{{ b.name }}">Ссылка на страничку вуза</a>
                    <p>{{ b.about }}</p>
                    <p>{{ b.contacts }}</p>
                    <br/>-->
                {% endfor %}
                <!--
                <a class="univ-link Instityt1 ekaterinburg" href="university.html">
                    <div class="univ-container" id="urfu">
                        <h2 class="univ-title namesun">
                            Институт радиоэлектроники и информационных технологий
                        </h2>
                        <img class="univ-image" src="image/rtf-index.png" alt="РТФ">
                    </div>
                </a>
                <a class="univ-link Instityt1 ekaterinburg" href="university.html">
                    <div class="univ-container" id="urfu">
                        <h2 class="univ-title namesun">
                            Физико-технологичесий институт
                        </h2>
                        <img class="univ-image" src="image/fti-index.png" alt="РТФ">
                    </div>
                </a>
                <a class="univ-link Instityt1 ekaterinburg" href="university.html">
                    <div class="univ-container" id="urfu">
                        <h2 class="univ-title namesun">
                            Институт экономики и управления
                        </h2>
                        <img class="univ-image" src="image/injek-index.png" alt="РТФ">
                    </div>
                </a>
                <a class="univ-link Instityt1 ekaterinburg" href="university.html">
                    <div class="univ-container" id="urfu">
                        <h2 class="univ-title namesun">
                            Институт новых материалов и технологий
                        </h2>
                        <img class="univ-image" src="image/inmit-index.png" alt="РТФ">
                    </div>
                </a>
                <a class="univ-link Instityt1 ekaterinburg" href="university.html">
                    <div class="univ-container" id="urfu">
                        <h2 class="univ-title namesun">
                            Уральский гуманитарный институт
                        </h2>
                        <img class="univ-image" src="image/ugi-index.png" alt="РТФ">
                    </div>
                </a>
                -->
                {% for spec in directions %}
                <a class="univ-link napravlen1" href="spec/{{ spec.id }}/">
                    <div class="pi-container">
                        <img class="irit-image" src="{{ spec.photo.url }}" alt="Обложка {{ spec.name }}">                        
                        <section class="directions-title namesun">
                            {{ spec.name }}
                            <div class="info">
                                {{ spec.speciality_cod }} {{ spec.level }}<br>Форма обучения: {{ spec.study_form }}<br>ЕГЭ: {{ spec.ege }}
                            </div>
                            <div class="info-napr">
                                {{ spec.about }}
                            </div>
                            <div class="wrapper">
                                <div>
                                    <div class="info-price">
                                        Стоимость
                                        <p class="price">{{ spec.price }}</p>
                                    </div>
                                    <div class="info-price">
                                        Бюджет
                                        <p class="price">{{ form.passing_score_free }} Б</p>
                                        <p class="place">{{ form.max_students_number_free }} мест</p>
                                    </div>
                                    <div class="info-price">
                                        Платное
                                        <p class="price">{{ form.passing_score_paid }} Б</p>
                                        <p class="place">{{ form.max_students_number_paid }} мест</p>
                                    </div>
                                    <div class="year">
                                        <div class="date">2023</div>
                                        <div class="date">2023</div>
                                        <div class="date">2023</div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </a>
                {% endfor %}
            </div>
        </main>
        <img class="main-bottom-decoration" src = "{% static 'flairest_campus/image/pdmain.png' %}">
        <footer class="main-footer">
            <div class="first-column">
                <a href="/">
                    <img class="logo" src="{% static 'flairest_campus/image/kampus.png' %}">
                </a>
                <p class="first-column">
                    Екатеринбург - студенческая столица России!
                </p>
                <p class="first-column">
                    Подпишитесь на наши соцсети
                </p>
                <ul class="social-list">
                    <li class="social-list-item">
                        <a href="https://ok.ru/" target="_blank">
                            <img src="{% static 'flairest_campus/image/social_media/ok.svg' %}">
                        </a>
                    </li>
                    <li class="social-list-item">
                        <a href="https://vk.com/" target="_blank">
                            <img src="{% static 'flairest_campus/image/social_media/vk.svg' %}">
                        </a>
                    </li>
                    <li class="social-list-item">
                        <a href="https://web.telegram.org/" target="_blank">
                            <img src="{% static 'flairest_campus/image/social_media/tg.svg' %}">
                        </a>
                    </li>
                    <li class="social-list-item">
                        <a href="https://www.whatsapp.com/" target="_blank">
                            <img src="{% static 'flairest_campus/image/social_media/wa.svg' %}">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="second-column">
                <ul class="footer-nav">
                    <a href="https://studgorod.ru/#news">Новости</a>
                    <a href="https://studgorod.ru/#events">Мероприятия</a>
                    <a href="https://studgorod.ru/partners">Партнеры</a>
                    <a href="https://studgorod.ru/pages/Kontakty">Контакты</a>
                </ul>
                <ul class="footer-agreements">
                    <a href="https://studgorod.ru/pages/politika-konfidencialnosti-i-obrabotka-personalnyh-dannyh">Политика конфиденциальности</a>
                    <a href="https://studgorod.ru/pages/soglasie-na-obrabotku-personalnyh-dannyh">Согласие на обработку персональных данных</a>
                </ul>
            </div>
        </footer>
    </body>
</html>